<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Features -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" /> <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/cv"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/cv_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CVERDETOTOO"
        tools:targetApi="31">
        <activity
            android:name=".CertificateActivity"
            android:exported="false" />

        <activity
            android:name=".PostAssess2After"
            android:exported="false" />
        <activity
            android:name=".PostAsses25"
            android:exported="false" />
        <activity
            android:name=".PostAsses24"
            android:exported="false" />
        <activity
            android:name=".PostAsses23"
            android:exported="false" />
        <activity
            android:name=".PostAsses22"
            android:exported="false" />
        <activity
            android:name=".PostAsses21"
            android:exported="false" />
        <activity
            android:name=".PostAssess2"
            android:exported="false" />

        <service
            android:name=".NotificationForegroundService"
            android:foregroundServiceType="mediaPlayback"
            android:permission="android.permission.FOREGROUND_SERVICE" />

        <activity
            android:name=".advid"
            android:exported="false" />
        <activity
            android:name=".CaptureFootprintstart"
            android:exported="false" />
        <activity
            android:name=".Bfast1Fragment"
            android:exported="false" />
        <activity
            android:name=".Shop"
            android:exported="false" />
        <activity
            android:name=".ActivityLog"
            android:exported="false" /> <!-- Services -->
        <service
            android:name=".TrackingService"
            android:exported="false"
            android:foregroundServiceType="location" /> <!-- Activities -->
        <activity android:name=".MiniShopActivity" />
        <activity
            android:name=".videoQCU"
            android:exported="false" />
        <activity
            android:name=".GPS"
            android:exported="false" />
        <activity
            android:name=".BattleEcoActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".BattleEcoStart"
            android:exported="false" />
        <activity
            android:name=".PostAsses12"
            android:exported="false" />
        <activity
            android:name=".PostAssess1"
            android:exported="false" />
        <activity
            android:name=".StoryFragment44"
            android:exported="false" />
        <activity
            android:name=".StoryActivity44"
            android:exported="false" />
        <activity
            android:name=".StoryFragment33"
            android:exported="false" />
        <activity
            android:name=".StoryActivity33"
            android:exported="false" />
        <activity
            android:name=".video2"
            android:exported="false" />
        <activity
            android:name=".PreAssess2after"
            android:exported="false" />
        <activity
            android:name=".PreAsses25"
            android:exported="false" />
        <activity
            android:name=".PreAsses24"
            android:exported="false" />
        <activity
            android:name=".PreAsses23"
            android:exported="false" />
        <activity
            android:name=".PreAsses22"
            android:exported="false" />
        <activity
            android:name=".PreAsses21"
            android:exported="false" />
        <activity
            android:name=".PreAssess2"
            android:exported="false" />
        <activity
            android:name=".StoryActivity22"
            android:exported="false" />
        <activity
            android:name=".RecyclerView"
            android:exported="false" />
        <activity
            android:name=".StoryActivity11"
            android:exported="false" />
        <activity
            android:name=".StoryFragment"
            android:exported="false" />
        <activity
            android:name=".PreAssess1After"
            android:exported="false" />
        <activity
            android:name=".PreAsses15"
            android:exported="false" />
        <activity
            android:name=".PreAsses14"
            android:exported="false" />
        <activity
            android:name=".PreAsses13"
            android:exported="false" />
        <activity
            android:name=".PreAsses12"
            android:exported="false" />
        <activity
            android:name=".PreAsses11"
            android:exported="false" />
        <activity
            android:name=".video1"
            android:exported="false" />
        <activity
            android:name=".PreAssess1"
            android:exported="false" />
        <activity
            android:name=".IntroActivity"
            android:exported="false" />
        <activity
            android:name=".navbar"
            android:exported="false" />

        <activity
            android:name=".Loadingpage"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Signin"
            android:exported="false" />

        <activity
            android:name=".AboutUs"
            android:exported="false" />
        <activity
            android:name=".TermsAndCon"
            android:exported="false" />
        <activity
            android:name=".EditProfile"
            android:exported="false" />
        <activity
            android:name=".BadgesFragment"
            android:exported="false" />
        <activity
            android:name=".Settings"
            android:exported="false" /> <!-- Duplicate Activities from the first and second manifest merged -->
        <activity
            android:name=".PostAssess1After"
            android:exported="false" />
        <activity
            android:name=".PostAsses15"
            android:exported="false" />
        <activity
            android:name=".PostAsses14"
            android:exported="false" />
        <activity
            android:name=".PostAsses13"
            android:exported="false" />
        <activity
            android:name=".PostAsses11"
            android:exported="false" />
        <activity
            android:name=".popupWelcome"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".GPSstart"
            android:exported="false" /> <!-- Launcher Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>